<div id="leaderboard" class="block">
	<b>HIGH SCORES</b><br/>
	{% for s in sessions %}
		<a href="/profile?game={{ game_key }}&amp;player={{ s.player.key }}">{{ s.player.nickname }}</a>
	{% endfor %}
</div>	

<script>	
$(document).ready(function() {
		updateleaderboard();
		setInterval ( "updateleaderboard()", 5000 );
});

function updateleaderboard ( )
	{
	$.ajax({
			      url: '/get_player_leaderboard',
			      success: function(data) {
				$('#leaderboard').html(data);
				
			      }
		      });
	}
</script>