{% extends "base.html" %}

{% block header %}
<a href="/game?game={{ game_key }}">
<h1>{{ story.game.title }}</h1>
<h2>{{ story.game.subtitle }}</h2>
</a>
{% endblock %}

{% block content_right %}

	{% include "block_player_score.html" %}
	
	<div id="map" class="block">
		<div id="map_canvas" style="width:220px; height:165px"></div>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script type="text/javascript">
			function initMap() {
				var latlng = new google.maps.LatLng({{ story.maps_location }});
				var myOptions = {
					zoom: {{ story.game.maps_zoom }},
					center: latlng,
					mapTypeId: google.maps.MapTypeId.ROADMAP
				};
			var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
			var latlng{{ forloop.counter }} = new google.maps.LatLng({{ story.maps_location }});
			var Mmarker{{ forloop.counter }} = new google.maps.Marker({
				position: latlng{{ forloop.counter }},
				map: map,
				title:"{{ story.headline }}"
			});			
		}
		$(document).ready(function() {initMap();});
		</script>
	</div>
	
	<div id="minigames" class="block">
		<b>MINI-GAMES</b>
		{% for mg in story.minigames %}
			<div><a href="/minigame?minigame={{ mg.key }}">{{ mg.title }}</a></div>
		{% endfor %}
	</div>

{% endblock %}


{% block content %}
<style>
h2 {
border-bottom:1px solid black;
}
</style>


<div>
	{% if game.teaser %}
		<i>{{ game.teaser }}</i>
	{% endif %}
	<h3>{{ story.headline }}</h3>
	{{ story.text }}
</div>

{% endblock %}