@charset "utf-8";
/* CSS Document */

/* reset */
html, body, div, ol, ul, li, h1, h2, h3, h4, h5, h6, form,
ul li {list-style:disc;}
ol li {list-style:disc;}
p{margin:0;padding:0;} 

img {
	border: 0px;
}

/* html & body */

html {

}

body {
	color: #333; /*#007d3e;*/
	margin: 0;
	background-color: #eeeeee;
}

#container {
	padding: 0px;
	width: 900px;
	margin: 0 auto;
	font-family:Helvetica,Arial,Verdana,sans-serif;
	font-size: 14px;
	line-height: 1.5em;
}

/* general */

@font-face {
	font-family: 'Quadra'; 
	src: url(m06.eot);
	src: local('M06_QUADRA'), url(m06.TTF) format("truetype");
}

.clearfloat {
	clear:both;
	line-height:0px;
	font-size:1px;
	height:0;
}

/* main blocks */

#header {
	height: 80px;
}

#content {
	float:left;
	clear:both;
	width:600px;
	border:2px solid #666;
	padding: 5px 10px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #fff;
}

#content_right {
	margin-left:20px;
	width:250px;
	display:block;
	float:right;
}

div.block {
	border:2px solid #666;
	padding: 5px 10px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #fff;
	color: #666;
	margin-bottom: 20px;
}

#player_score {

}

#leaderboard {

}

#stories {

}

#map {

}

/* misc */

.currencies {
	color: #666;
}

#currencies {

}

#currencies div {
	margin: 10px 0px;
}

#currencies img {
	vertical-align: middle;
	margin-right: 15px;
}

/* twitter mini-game */

div#twitter div.item {
	margin: 5px 0 5px 0;
	border-bottom: 1px solid #ccc;
	min-height: 54px;
}
div#twitter div.avatar {
	float:left;
	width:48px;
	height:48px;
	/*background-image: url(/img/game-art/user_48.png);*/
	background-repeat: no-repeat;
}
div#twitter div.message {
	float:left;
	width:530px;
	padding: 2px 10px 2px 10px;
}
.retweet {
	background-image: url(/img/game-art/retweet_button.png);
	background-repeat: no-repeat;
	background-position: right;
	background-color: #ddd;
}
.retweeted {
	background-image: url(/img/game-art/retweeted.png);
	background-repeat: no-repeat;
	background-position: right top;
}
.correct {
	background-image: url(/img/game-art/correct_16.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.incorrect {
	background-image: url(/img/game-art/incorrect_16.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
span.score {
	font-family: 'Quadra';
	font-size: 28px;
	color: #666;
}

div#twitter .text_enter {
	font-size: 12px;
	font-family:Helvetica,Arial,Verdana,sans-serif;
	font-size: 14px;
	width: 600px;
	height: 80px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}
div#twitter span.hashtag {
	color: blue;
}